* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(7,7,50,1) 14%, rgba(0,212,255,1) 100%);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

header {
  height: 20vh;
  width: 100vw;
}

.navbar {
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: black;
    font-weight: 700;
}

.navbar .nav-links ul  {
    display: flex;
    align-content: space-between;
}

.navbar .nav-links ul li {
    margin: 25px;
}

#mylogo {
    left: 30px;
    height : 50px;

}

#aboutme {
    font-size: 25px;
}

#contact {
    font-size: 25px;
}

#dark-mode {
    height: 30px;
    right: 20px;
}

#dark-mode ::after {
    background-color: black;
} 

#github {
    height: 30px;
}

#mario {
    margin: 100px;
    height: 300px;
}

#pwd_g {
    margin: 100px;
    height: 300px;
}