* {
    background-color: #A6CFF5;
}

header {
    width: 100%;
    height: 80px;
    background-color: red;
}
.logo {
    left: 30px;
    background-color: green;
    width : 35px;
}

nav {
    right: 50px;
    justify-content: space-between;
}

#dark-mode {
    height: 30px;
    right: 20px;
}

#github {
    height: 30px;
}